
         <div id="booking_actions">
             <%= partial :booking_management_workflow %>
             <div class="btn btn-default"><a href="/admin/booking/contract/<%%=entity.id%>" target="_blank"><%=t.booking_management.print_contract%></a></div>
             <%% if (entity.status != 'cancelled') { %>
             <div class="btn btn-default">
               <a href="/admin/booking/edit/pickup-return/<%%=entity.id%>"><%= t.booking_management.form.change_dates %></a>    
             </div>
             <%% } %>  
         </div>
