<form name="flight" style="height:208px">
   <textarea rows="8" name="destination_accommodation" id="destination_accommodation" style="width:100%"><%%=entity.destination_accommodation%></textarea>
  <div class="navigation-bar bottom-margin top-margin">
    <div class="navigation-bar-crud-buttons right-float right-margin">
      <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
    </div>
  </div>
</form>