    <form name="rental_location">
        <input type="hidden" name="id" value="<%%=entity.id%>"/>
        <select name="rental_location_code" id="rental_location" class="form-control" style="width:99%"></select>
        <div class="navigation-bar bottom-margin top-margin">
          <div class="navigation-bar-crud-buttons right-float right-margin">
            <input type="submit" class="btn btn-primary update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
          </div>
        </div>
    </form>
