<style type="text/css">
  #parent {
	height: 430px;
  }
			
  #planning_table {
  	font-size: 0.8em;
	width: 1800px !important;
  }

  #planning_table tr:first th {
  	background: #EEE;
  }

  #planning_table th {
    background: #EEE;
    padding: 5px;
  } 

  #planning_table td {
  	border: 1px solid #DDD;
  	padding: 5px;
  }

  #planning_table .data {
  	text-align: center;
  }

</style>
<div id="parent" style="overflow: auto">
    <table id="planning_table">
      <thead>
      </thead>
      <tbody>
      </tbody>
    </table>
</div>
