             <form name="anotations" class="all-space">
               <input type="hidden" name="id" value="<%%=entity.id%>"/>             
               <div class="more_contrast_text top-margin bottom-margin" style="text-decoration:underline"><%= t.booking_management.form.anotations %></div>
               <div class="formrow top-space bottom-margin">
                 <textarea name="notes" rows="10" class="fieldcontrol"><%%= entity.notes %></textarea>
               </div>
               <div class="navigation-bar bottom-margin">
                 <div class="navigation-bar-crud-buttons right-float">
                   <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                 </div>
               </div>             
             </form> 