<div class="row">

  <div class="col-lg-4 col-lg-offset-1">
    <a class="block block-link-hover2" href="/admin/booking/new">
      <div class="block-content block-content-full bg-primary clearfix">
        <i class="si si-plus fa-2x text-white pull-right"></i>
        <span class="h4 text-white"><%=t.booking_console.new_booking%></span>
      </div>
    </a>
  </div>

  <div class="col-lg-4 col-lg-offset-1">
    <a class="block block-link-hover2" href="/admin/booking/customers">
      <div class="block-content block-content-full bg-flat clearfix">
        <i class="si si-plus fa-2x text-white pull-right"></i>
        <span class="h4 text-white"><%=t.booking_console.new_customer_booking%></span>
      </div>
    </a>
  </div>

</div>