         <div class="bottom-margin overflow">
             <div class="element_template" style="min-height:200px">
               <span class="all-space"><%%= entity.comments %></span>
             </div>
         </div>