         <div class="bottom-margin overflow">
             <div class="left-margin more_contrast_text top-margin bottom-margin" style="text-decoration:underline;"><%= t.booking_management.form.comments %>
             </div>
             <div class="element_template">
               <span class="all-space"><%%= entity.comments %></span>
             </div>
         </div>