<div class="container_12">
  <div class="grid_6">
    <form name="additional_data" style="border:1px solid #EEE">
      <input type="hidden" name="id" value="<%%=entity.id%>"/>

      <div class="element_template">
        <div class="entity-field">
          <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.external_invoice_number %></span>
          <span class="entity-fieldvalue">
                       <input type="text" maxlength="40" size="25" name="external_invoice_number" id="external_invoice_number"
                              value="<%%=entity.external_invoice_number%>"/>
                       <button type="button" class="form-button" name="next_external_invoice_number" id="next_external_invoice_number"><%=t.booking_management.form.next_external_invoice_number%></button>
                </span>
        </div>
        <div class="entity-field">
          <span class="entity-fieldlabel less_contrast_text"><%= t.booking_management.form.external_invoice_date %></span>
          <span class="entity-fieldvalue">
                       <input type="text" maxlength="10" size="25" name="external_invoice_date" id="external_invoice_date" class="date_control"
                              value="<%%=entity.external_invoice_date%>"/>
                </span>
        </div>
      </div>

      <div class="navigation-bar bottom-margin">
        <div class="navigation-bar-crud-buttons right-float right-margin">
          <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
        </div>
      </div>
    </form>
  </div>
</div>