<div class="row">
  <div class="col-sm-6 col-md-3">
    <a class="block block-link-hover3 text-center" href="javascript:void(0)">
      <div class="block-content block-content-full">
        <div class="h3 font-w600 push-15-t"><span><%%= self.model.entityHooks[0].statusDescriptionText[entity.status] %></span></div>
        <div class="font-w600 push-15-t"><span class="fa fa-credit-card">&nbsp;</span><span><%%= self.model.entityHooks[0].paymentStatusDescriptionText[entity.payment_status] %></span></div>
      </div>
      <div class="block-content block-content-full block-content-mini bg-gray-lighter font-w600"><span class="text-success">#<%%= entity.id %></span></div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a class="block block-link-hover3 text-center" href="javascript:void(0)">
      <div class="block-content block-content-full">
        <div class="<% if booking_item_family.time_to_from%>h4<%else%>h3<%end%> font-w600 push-15-t"><span class="fa fa-calendar">&nbsp;</span><%%= self.formatDate(entity.date_from, 'dd.MM.yyyy') %> <% if booking_item_family.time_to_from%> <%%= entity.time_from?entity.time_from:'' %> <% end %></div>
        <div class="font-w400 push-15-t"><% if booking_item_family.pickup_return_place %><span class="fa fa-map-marker">&nbsp;</span><%%= entity.pickup_place %><%else%>&nbsp;<% end %></div>
      </div>
      <div class="block-content block-content-full block-content-mini bg-gray-lighter text-primary font-w600"><%= t.booking_management.form.date_from %></div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a class="block block-link-hover3 text-center" href="javascript:void(0)">
      <div class="block-content block-content-full">
        <div class="<% if booking_item_family.time_to_from%>h4<%else%>h3<%end%> font-w600 push-15-t"><span class="fa fa-calendar">&nbsp;</span><%%= self.formatDate(entity.date_to, 'dd.MM.yyyy') %> <% if booking_item_family.time_to_from%> <%%= entity.time_to?entity.time_to:'' %> <% end %></div>
        <div class="font-w400 push-15-t"><% if booking_item_family.pickup_return_place %><span class="fa fa-map-marker">&nbsp;</span><%%= entity.return_place %><%else%>&nbsp;<%end%></div>
      </div>
      <div class="block-content block-content-full block-content-mini bg-gray-lighter text-primary font-w600"><%= t.booking_management.form.date_to %></div>
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a class="block block-link-hover3 text-center" href="javascript:void(0)">
      <div class="block-content block-content-full">
        <div class="h3 font-w600 push-15-t"><span><%%= entity.days %> <%= t.booking_management.form.days.to_s.downcase %></span></div>
        <div class="font-w400 push-15-t"><%%= entity.sales_channel_code || '&nbsp;' %> <%% if (!entity.created_by_manager) { %>(web)<%%}%></div>
      </div>
      <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600"><%= t.booking_management.form.days %> <% if @addon_sales_channels %>/ Canal de venta<%end%></div>
    </a>
  </div>
</div>