
         <!--div id="booking_actions"-->
             <div class="btn btn-default">
             	<a href="/admin/booking/contract/<%%=entity.id%>" target="_blank"><span class="fa fa-print"></span>&nbsp;<%=t.booking_management.print_contract%></a>
             </div>
			 <% if booking_item_family.driver_license %>
	             <div class="btn btn-default">
	             	<a href="/admin/booking/qr-doc/<%%=entity.id%>" target="_blank"><span class="fa fa-qrcode"></span>&nbsp;<%=t.booking_management.print_qr%></a>
	             </div>
			 <% end %>

             <%% if (entity.status != 'cancelled') { %>
             <div class="btn btn-default">
                <a href="/admin/booking/edit/pickup-return/<%%=entity.id%>"><span class="fa fa-calendar"></span>&nbsp;<%= t.booking_management.form.change_dates %></a>    
             </div>
             <%% } %>  
         <!--/div-->
