    <div id="select_resource" class="highlight_block" style="display: none">
      <p id="select_resource_help" class="smaller_text">Seleccione el recurso al que desea realizar la reserva pulsando sobre cualquier celda de la fila del recurso</p>
      <div>
        <div id="reassign_resource" style="display:none">
          <div class="guiblock smaller_text">
            <div><strong style="display:inline-block">Recurso:</strong> <span id="resource"></span></div>
          </div>
          <form name="assign_form" class="bottom-margin">
            <input type="hidden" name="id"/>
            <input type="hidden" name="resource"/>
            <button id="reassign_button" type="button" class="form-button green-button centered_text" style="margin: 0 auto; display: block; width: 100%">Asignar recurso</button>
          </form>
          <button type="button" id="cancel_select_resource_button" class="form-button red-button" style="margin: 0 auto; width: 100%">Cancelar asignación recurso</button>
        </div>    
      </div>
      <div id="select_resource_detail" class="smaller_text"></div>
    </div>