<div class="col-sm-6 col-md-6">
  <div class="block  text-center">
    <div class="block-content block-content-full">
      <%= partial :booking_management_actions %>
      <div style="line-height:8px">&nbsp;</div>
    </div>
    <div class="block-content block-content-full block-content-mini bg-gray-lighter text-muted font-w600">Acciones</div>
  </div>
</div>