require(['jquery', 'jquery.ui', 'jquery.ui.datepicker-es', 
         'jquery.ui.datepicker.validation','jquery.formparams', 'jquery.fixedtable', 'datejs'], 
        function($) {

  bookingPlanningModel = {
    dateFrom: null,
    dateTo: null,
    product: null,
    reference: null,
    references: null,
    planningData : null,
    months: ['ENE','FEB','MAR','ABR','MAY','JUN','JUL','AGO','SEP','OCT','NOV','DIC'],
    loadData: function() {
  	  if (this.dateFrom != null && this.dateTo != null) {
  	    var from = this.dateFrom.toString('yyyy-MM-dd');
  	    var to = this.dateTo.toString('yyyy-MM-dd');
  	    var url = '/api/booking/planning-summary?from='+from+'&to='+to;
  	    if (this.product != null) {
  	      url += '&product='+product;
        }
  	    else if (this.reference != null) {
  	      url += '&reference='+reference;
  	    } 
 	    $.ajax({
  	        type: 'GET',
  	   	    url : url,
  	   	    contentType: 'application/json; charset=utf-8',
  		    dataType : 'json',
  		    success: function(data, textStatus, jqXHR) {
               bookingPlanningModel.references = data.references;
               bookingPlanningModel.planningData = data.result;
               bookingPlanningView.update('data_available');
            }
          });  	 
 	  }
      else {
    	bookingPlanningView.update('not_enough_information');
      }
    }
  }

  bookingPlanningController = {

  }

  bookingPlanningView = {

    init: function() {
      bookingPlanningModel.loadData();
      $('#parent').scroll(function (event) {
      	if ($(this).scrollLeft() == 0) {
      	  // Start reached (request for data)
      	}
        if($(this).scrollLeft() + $(this).innerWidth() >= $(this)[0].scrollWidth) {
          // End reached (request for data)
        }
      });
    },
    update: function(event) {
  	  switch (event) {
  		case 'data_available':
  		  if ($('#planning_table tbody').children().length == 0) {
  		  	$("#planning_table thead").append("<tr></tr>");
  		  	$("#planning_table thead tr:first").append("<th>"+'RECURSOS'+"</th>");
  		  	for (var idx=0; idx<bookingPlanningModel.references.length;idx++) {
  		  	  $("#planning_table tbody").append("<tr id='" + bookingPlanningModel.references[idx] + "'></tr>");
  		  	  $("#planning_table tbody tr:eq("+idx+")").append("<td>"+bookingPlanningModel.references[idx]+"</td>");
  		  	}
  		  }
  		  for (item in bookingPlanningModel.planningData) {
  		  	var date = new Date(item);
  		  	var title = date.getDate() + ' ' + bookingPlanningModel.months[date.getMonth()];
            $("#planning_table thead tr:first").append("<th>"+title+"</th>");
            for (resource in bookingPlanningModel.planningData[item]) {
              var value = '';
              if (bookingPlanningModel.planningData[item][resource].total == 1) {
                value = 'X';
              }
              else if (bookingPlanningModel.planningData[item][resource].total > 1) {
                value = bookingPlanningModel.planningData[item][resource].total;
              }
              var background = 'white';
              if (bookingPlanningModel.planningData[item][resource].detail.length > 0) {
                background = bookingPlanningModel.planningData[item][resource].detail[0].planning_color;
              }
              var columnStyle = "class='data' style='background:" + background + "'";
              var summary = bookingPlanningModel.planningData[item][resource].summary;
              if (summary != null) {
                columnStyle += " title='" + summary + "'";
              }
              $("tr#"+resource).append("<td " + columnStyle + ">"+value+"</td>");	
            }
  		  }
  		  
          $("#planning_table").tableHeadFixer({"left" : 1});
         		 
  		  break;
  		case 'not_enough_information':
  		  alert('No hay suficientes datos para obtener la información');
  		  break;
  	  }
    }
  }

});  