             <form name="anotations" style="height:208px">
               <input type="hidden" name="id" value="<%%=entity.id%>"/>             
               <textarea name="notes" rows="8"  style="width:100%"><%%= entity.notes %></textarea>
               <div class="navigation-bar bottom-margin top-margin">
                 <div class="navigation-bar-crud-buttons right-float">
                   <input type="submit" class="update-entity-button action-button entity-management-button" value="<%=t.entitymanagement.update%>"/>
                 </div>
               </div>             
             </form> 