      <h2><%=t.booking.title("#{t[:booking][:state][booking.status.to_sym]}".downcase)%></h2>
      
      <div class="booking-message">
        <%= message %>
      </div>

      <div class="bottom-margin">
        <p><%=t.booking.id(booking.id)%></p>
      </div>

      <%= partial(:booking_summary, :locals => {:booking => booking}) %>


      
