                <% if promotion_codes_active %>
                    <div class="top-margin">
	                  <h3 class="guiblock"><%=t.new_booking.promotion_code%></h3>
	                  <form name="form_promotion_code" id="form_promotion_code">
	                  	<input type="text" id="promotion_code" name="promotion_code" maxlength="50"/>
                        <input type="submit" id="promotion_code_submit" class="form-button green-button" value="<%=t.new_booking.check_promotion_code%>"/>
                        <span id="promotion_code_response"></span>
	                  </form>
	                </div>
	            <% end %>