<h3><%=t.booking_rates.seasons%></h3>
<div id="seasons">
  <div class="top-margin bottom-margin">	
    <div class="formrow">
  	  <label for="how_many_seasons" class="fieldtitle"><%=t.booking_rates.how_many_seasons%></label>
  	  <input type="text" id="how_many_seasons" size="10" class="left-margin"/>
    </div>
  </div>
  <table id="seasons_table">
  </table>
</div>