<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_activities_scheduler.title%></h2>
</div>
<div class="admin_content_wrapper">
  <div id="calendar" class="top-margin smaller_text">
  </div>
</div>
<div id="dialog_container" class="smaller_text" style="background: white; width: 800px; height:400px; overflow-y: scroll; display:none">
</div>