<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.booking_activities_scheduler.title%></h2>
</div>
<div class="admin_content_wrapper">
  <div id="calendar" class="top-margin smaller_text">
  </div>
</div>

<!-- Modal dialog to show information -->
<div id="occupation_dialog_container" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="pendingAssignationModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <ul class="block-options">
          <li>
            <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
          </li>
        </ul>
        <h3 class="modal-title"></h3>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>