require(['YSDSpreadSheet', 'jquery'], function(Spreadsheet, $) {

  planningModel = {

     bookingItemsDescription: [],
     bookingItems: [],
     bookings: [],
     month:new Date().getMonth()+1,
     year:new Date().getFullYear(),

     daysInMonth: function() {
       return new Date(this.year, this.month, 0).getDate();
     },

     prevMonth: function() {
       if (this.month == 1) {
         this.month = 12;
         this.year--;
       }
       else {
        this.month--;
       }
       planningView.update('month_navigation');
     },

     nextMonth: function() {
       if (this.month == 12) {
         this.month = 1;
         this.year++;
       }
       else {
         this.month++;
       }
       planningView.update('month_navigation');
     },

     loadBookingItems: function() { /* Load the booking items */

       $.ajax({
               type: 'GET',
               url : '/api/booking-items',
               contentType: 'application/json; charset=utf-8',
               dataType : 'json',
               success: function(data, textStatus, jqXHR) {
                  planningModel.bookingItems = data.map(function(value, index, array) {
                    return value.reference; 
                  });
                  planningView.update('items_available');
              }
          });

     },

     loadBookings: function() { /* Load the bookings */

        $.ajax({
                 type: 'GET',
                 url: '/api/booking/planning?month=' + this.month + '&year=' + this.year,
                 contentType: 'application/json; charset=utf-8',
                 dataType: 'json',
                 success: function(data, textStatus, jqXHR) {
                   planningModel.bookings = data;
                   planningView.update('bookings_available');
                 }
        });


     }

  };

  planningController = {

    prevMonthClick: function() {
       planningModel.prevMonth();
    },

    nextMonthClick: function() {
       planningModel.nextMonth();
    } 

  };

  planningView = {

    spreadsheet : null,

    init : function() {
      planningModel.loadBookingItems();
      $('#month').html(planningModel.month);
      $('#year').html(planningModel.year);
      $('#prev').bind('click', function() {
         planningController.prevMonthClick();
      });
      $('#next').bind('click', function() {
         planningController.nextMonthClick();
      });

    },

    update: function(event) {

      switch (event) {
         case 'month_navigation':
           $('#month').html(planningModel.month);
           $('#year').html(planningModel.year);     
           planningModel.loadBookings();     
           break;

         case 'items_available':
           this.buildSpreadsheet();
           planningModel.loadBookings();
           break;

         case 'bookings_available':
           this.updateBookings();
           break;
      }

    },

    buildSpreadsheet: function() { // Builds the spreadsheet with the booking items

      var days = [];
      var total = planningModel.daysInMonth();
      for (var i=1;i<=total;i++) {
        days[i-1]=i;
      }

      planningModel.bookingItemsDescription = planningModel.bookingItems.map(function(value, index, array) {
             return '<a href="/admin/booking/scheduler/' + value +'?year=' + planningModel.year + '&month=' + (planningModel.month-1) +'" target="blank">'+value+'</a>'
      });

      $('#planning_table').html('');
      spreadsheet = new Spreadsheet("planning_table",  
          planningModel.bookingItems,            // items
          days,                                  // columns
          planningModel.bookingItems.length,     // number of rows (items.count)
          "Planning ",                           // 0-0 title
          "planning",                            // input prefix
          1,                                     // input size
          "centered_text",                       // class
          true,                                  // readonly
          planningModel.bookingItemsDescription);                                 

    },

    updateBookings: function() {

      this.buildSpreadsheet();

      var idx = 0;
      var reference;
      var from, to;
      $('.spread_input').val('');
      for (var i=0;i<planningModel.bookings.length;i++) {
         reference = planningModel.bookings[i].booking_item_reference;
         idx = planningModel.bookingItems.indexOf(reference);
         if (idx > 0) {
           from = planningModel.bookings[i].date_from.getDate();
           if (planningModel.bookings[i].date_to.getMonth() != planningModel.bookings[i].date_from.getMonth()) {
             if (planningModel.bookings[i].date_from.getMonth()+1 == planningModel.month) {
               var d = new Date();
               d.setFullYear(planningModel.bookings[i].date_to.getYear(), planningModel.bookings[i].date_to.getMonth() + 1, 0);
               to = d.getDate();
             }
             else {
               from = 1;
               to = planningModel.bookings[i].date_to.getDate();
             }
           }
           else {
             to = Math.min(planningModel.bookings[i].date_to.getDate())
           }
           for (var day=from;day<=to;day++) {
             $('#\\[planning\\]\\['+reference+'\\]\\['+day+'\\]').val('X');
           }
         }

      }

    }


  };

  planningView.init();
});