<style>
  .rowTitle {
    text-align: center;
    display: block;
  }
  .spread_input {
  	width: 1.2em;
  }
</style>
<h2><%=t.bookings_planning.title%></h2>
<div class="top-margin bottom-margin-1line">
	<div class="centered_text"><span id="prev" class="all-space over_cursor background-color-2 color-2 all-border-solid">&lt;</span>&nbsp;<span id="month"></span> - <span id="year"></span>&nbsp;<span id="next" class="all-space over_cursor background-color-2 color-2 all-border-solid">&gt;</span></div>
</div>
<div>
<table id="planning_table" style="table-layout: fixed;">
</table>
</div>