 <div class="container_12">
   <div class="grid_8">
     <div class="highlight_block top-margin">
       <%= partial(:reserva, :locals => {:booking => booking, :message => ''}) %>  
     </div>
   </div>
   <div class="grid_4 top-margin">
     <%= partial(:booking_price, :locals => {:booking => booking}) %>  
   </div>
 </div>
 <div class="container_12">
   <div class="grid_12">
      <%= partial(:booking_deposit, :locals => {:booking => booking, 
           :booking_deposit => booking_deposit,
           :booking_allow_total_payment => booking_allow_total_payment}) %>
   </div>
 </div>