<div class="top-navigation-bar">
  <h2 class="entity-title"><%=t.setup_booking.title%></h2>
</div>
<div class="admin_content_wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-6">
        <%= t.setup_booking.welcome %>
        <br>
        <div class="pull-right">
          <a href="/admin/booking/setup-step-1" class="btn btn-primary" role="button"><%=t.setup_booking.start%></a>
        </div>
      </div>
    </div>
  </div>

</div>